* {
  outline: 1px solid yellowgreen;
}
ul, ol {
  margin-bottom: 0;
}
input[type="text"],select,input[type='number'],textarea {
  color: #818A91;
  width: 75%;
  padding-block: 8px;
  padding-inline: 12px;
  border: 0;
  background-color: #FAFAFA;
  border-bottom: 1px solid $primary;
}