/* {
  outline: 1px solid yellowgreen;
}*/
ul, ol {
  margin-bottom: 0;
}
input[type="text"],select,input[type='number'],textarea {
  color: $info;
  width: 75%;
  padding-block: 8px;
  padding-inline: 12px;
  border: 0;
  background-color: #FAFAFA;
  border-bottom: 1px solid $primary;
}
.tag-l {
  width: 80px;
  padding: 8px 20px;
}
.tag-m {
  width: 40px;
  padding: 5px 8px;
  top: 163px;
}
select {
  width: 25%;
  height: 38px;
  padding-block: 8px;
  padding-inline: 12px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}