// font and icon@import url();
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// bootstrap5
@import "../../node_modules/bootstrap/scss/functions";
@import './helpers/variables';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// base
@import './base/base';

// helpers
@import './helpers/variables';
@import './helpers/typography';
@import './helpers/background';

// component
@import './component/button';
@import './component/form';
