<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2023-JS-week5</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container shadow mt-30 px-24 py-15 rounded">
      <div class="row mb-6">
        <div class="col flex-column pb-0">
          <img class="img-fluid mb-5" src="../assets/images/main_img.png" alt="main_img">
          <img class="img-fluid" src="../assets/images/logo.png" alt="logo">
        </div>
        <form class="col flex-column">
          <div class="d-flex align-items-center border-bottom border-primary border-3 pb-1 mb-8">
            <span class="material-symbols-outlined me-2 fs-5 text-primary">
              add_circle
              </span>
            <h2 class="fs-4 fw-bold text-primary">新增旅遊套票</h2>
          </div>
          <ul class="form-group list-unstyled">
            <li class="d-flex align-items-center mb-4">
              <label for="ticketName" class="fs-6 fw-medium text-primary me-7">套票名稱</label>
              <input type="text" id="ticketName" placeholder="請填寫套票名稱" name="套票名稱">
            </li>
            <li class="d-flex align-items-center mb-4">
              <label for="imgUrl" class="fs-6 fw-medium text-primary me-7">圖片網址</label>
              <input type="text" id="imgUrl" placeholder="請填寫圖片網址" name="圖片網址">
            </li>
            <li class="d-flex align-items-center mb-4">
              <label for="sightSpot" class="fs-6 fw-medium text-primary me-7">景點地區</label>
              <select id="sightSpot" name="景點地區">
                <option value="" disabled selected hidden>請選擇景點地區</option>
                <option value="台北">台北</option>
                <option value="台中">台中</option>
                <option value="高雄">高雄</option>
              </select>
            </li>
            <li class="d-flex align-items-center mb-4">
              <label for="ticketPrice" class="fs-6 fw-medium text-primary me-7">套票金額</label>
              <input type="number" id="ticketPrice" placeholder="請填寫套票金額" name="套票金額" min="0">
            </li>
            <li class="d-flex align-items-center mb-4">
              <label for="ticketNum" class="fs-6 fw-medium text-primary me-7">套票組數</label>
              <input type="number" id="ticketNum" placeholder="請填寫套票組數" name="套票組數" min="1">
            </li>
            <li class="d-flex align-items-center mb-4">
              <label for="ticketRate" class="fs-6 fw-medium text-primary me-7">套票星級</label>
              <input type="number" id="ticketRate" placeholder="請填寫套票星級" name="套票星級" min="1" max="10">
            </li>
            <li class="d-flex">
              <label for="ticketDescription" class="fs-6 fw-medium text-primary me-7 pt-2">套票描述</label>
              <textarea name="套票描述" id="ticketDescription" placeholder="請填寫套票描述 (限 100 字)" style="min-height: 125px;"></textarea>
            </li>
          </ul>
        </form>
      </div>
      <div class="row">
        <div class="col text-end">
          <input type="button" value="新增套票" class="btn btn-primary">
        </div>
      </div>
    </div>
    <div class="bg-lightGray">
      <div class="container">
        
      </div>

    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
