<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2023-JS-week5</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container shadow mt-30 px-24 py-15">
      <div class="row">
        <div class="col-4">
          <img class="img-fluid mb-5" src="../assets/images/main_img.png" alt="main_img">
          <img class="img-fluid" src="../assets/images/logo.png" alt="logo">
        </div>
        <div class="col-4">
          <div class="d-flex mr-2">
            <span class="material-icons-outlined">
              add_circle_outline
              </span>
            <h2 class="bold text-primary">新增旅遊套票</h2>
          </div>
        </div>
      </div>


    </div>

    <h1 class="text-primary">我是標題</h1>
    <a href="#" class="btn btn-primary">我是按鈕</a>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
